<p id="notice"><%= notice %></p>

<p>
  <b>Dato:</b>
  <%= @event.date %>
</p>

<p>
  <b>Navn:</b>
  <%= @event.Event_Name %>
</p>


<%= link_to 'Ret', edit_event_path(@event) %> |
<%= link_to 'tilføj ønske', new_wish_path(:id=>@event.id) %>
